p{
    text-align: center;
    width: 80%;
    color: white;
}
#howitworks{
    font-size: 110%;
    text-align: center;
}
p2{
    font-size: 150%;
    padding-left: 150px;
}
p3{
    font-size: 100%;
    text-align: center
}
p4{
    font-size: 200%;
    padding-left: 150px;
}
p5{
    font-size: 90%;
}
p6{
    font-size: 30px;
}
p7{
    font-size: 15px;
}
footer{
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 100px;
}
#footer1{
    margin-left: -72px;
    margin-right: -72px;
}
.take-payments1{
    width: 300px;
    height: 500p;
    padding-top: 100px;
    padding-bottom: 100px;
}
.take-payments2{
    border: solid 1px black;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 50px;
}
.col-6{
    background-color: blue;
    color:white;
    border: solid 1px black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 100%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.collect-info1{
    border: solid 1px black;
    padding-top: 50px;
    padding-bottom: 100px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.collect-info2{
    height: 400px;
    width: 350px;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content-heading{
    margin-left: 180px;
    margin-top: 50px;
}
.images1{
    height: 20px;
}
.images2{
    height: 15px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.ellipse{
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.ellipse2{
    height: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
}
#signinbutton{
    color:blue;
    border: solid 1px blue;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#tryitfreebutton{
    color:white;
    background-color: blue;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 100px;
}
#navbarText{
    color: black;
}
.nav-item{
    margin-left: 50px;
    color: black;
}
.navbar-brand{
    margin-left: 100px;
    color: black;
}
.main-header{
    height: 600px;
    width: 520px;
    margin-right: 20px
}
h1{
    font-size: 400%;
    margin-top: 60px;
}
h2{
    font-size: 220%;
    margin-top: -20px;
}
h3{
    font-size: 120%;
    color: darkgray;
    margin-top: -20px;
}
h5{
    color:gray;
    margin-top: -20px;
}
h6{
    margin-top: -20px;
}
#doubletapsignin{
    color: gray;
    font-size: 100%;
    margin-bottom: 4px;
}
#chatbutton1{
    color:blue;
    border: solid 1px blue;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    text-align: center;
}
#chatbutton2{
    color:blue;
    background-color: white;
    border: solid 1px blue;
    margin-left: 5px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
#signupfreebutton1{
    color:white;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
#getstartedbutton{
    color: white;
    background-color: rgb(40, 212, 40);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 10px;
}
#arrowicon{
    padding-left: 20px;
    margin-right: -10px;
}
